
.User-list{
  width: 90%;
  max-width: 500px;
  margin: 0 auto;

  &__Title{
    text-align: center;
    margin: 60px 0 15px;
    font-size: 18px;
    font-weight: 600;
  }
  &__Container{
    &__Box{
      height: 70px;
      display: flex;
      margin-bottom: 20px;
      justify-content: space-between;
      &__Left{
        width: calc(100% - 76px);
        text-decoration: none;
        display: flex;
        border: 1px solid $gray;
        border-radius: 10px 0 0 10px;
        align-items: center;
        &--icon{
          width: 60px;
          height: 60px;
          object-fit: cover;
          border-radius: 6px;
          margin: 0 5px;
        }
        &--info{
          color: $black;
          padding-left: 10px;
          &--name{
            font-size: 20px;
            font-weight: 600;
            margin-top: 15px;
          }
          &--birth{
            margin-top: -3px;
            font-size: 12px;
          }
        }
      }
      &__Right{
        width: 70px;
        text-decoration: none;
        background-color: $blueH;
        border-radius: 0 10px 10px 0;
        border-bottom: 3px solid $blueG;
      }
      &__Right:hover{
        border-bottom: 1px solid $blueG;
      }
      &__Right p{
        line-height: 70px;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 2px;
        color: #ffffff;
      }
    }
  }
  &__Message{
    text-align: center;
    margin: 100px 0 15px;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    &--text{

    }
    &--arrow{
      text-align: center;
      font-size: 24px;
      margin: 20px auto;
    }
  }
}

.Footer-button{
  display: block;
  width: 100%;
  
  position: fixed;
  bottom: 0px;
  height: 100px;
  border-top: 1px solid $gray;
  background-color: #ffffff;
  align-items: center;
  &__Button{
    max-width: 500px;
    margin: 20px auto;
  }
}

.Welcome{
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  
  &__Top{
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    &--logo{
      width: 100%;
      margin-bottom: 30px;
    }
  }
  &__Sign{
    position: fixed;
    bottom: -40px;
    left: 50%;
    width: 80%;
    max-width: 500px;
    transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
    margin: 0 auto 0px;
    &__Up{
      margin-bottom: 20px;
    }
  }
}